/* WORK */
.work {
  /* font-size: larger; */
  text-align: center;
}

.work__links {
  margin-left: 10px;

  @mixin atLargest {
    height: 1em;
  }
}

#work-title {
  font-size: x-large;
}

#link-MEI {
  margin: 0 3px 0 1px;

  @mixin atLargest {
    height: 1em;
  }
}

/* END WORK */