/* WRAPPER */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  max-width: 1280px;
  background-color: $backgroundBody;

  @mixin atMedium {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.5rem;
    width: 40%;
  }

  @mixin atLarge {
    width: 45%;
  }

  &::before {
    display: table;
    content: " ";
  }
}

/* END WRAPPER */